:root{
	--main-background-color: #E9A43C;
	--normal-text-color: black;
	--title-text-color: #2f4d12;
	--main-ui-background-color: #FDEC9E;
	--border-color: black;
	--top-bar-color: #70c42f;
	--disabled-button-bg-color: #B77A29;
	--button-bg-color: #70c42f;
	--button-hover-color: #2f4d12;
	--button-hover-text-color: #FDEC9E;
	--link-color: #0000EE;
	--instructions-bg-color: #FDEC9E;
	--top-border-color: #B77A29;
	--top-border-thickness: 5px;
	--middle-border-color:  #B77A29;
	--middle-border-thickness: 10px;
}

body{
/*	background-image: url('https://apod.nasa.gov/apod/image/1904/sandqvist169_colombari.jpg');*/
	background-color: var(--main-background-color);
	padding: 0;
	margin: 0;
	text-align: center;
}

#main-title{
	font-size: 2em;
	padding: 0;
	margin-bottom: 0;
	color: var(--title-text-color);
}

.menu-text{
	margin-top: .5em;
	width: 30em;
	text-decoration: underline;
	color: var(--link-color);
}

#bar{
	text-align: center;
    background-color: var(--top-bar-color);
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    height: 90px;
    background-size: 100%;
    margin: 0 auto;  
	border-bottom: solid var(--top-border-thickness) var(--top-border-color);
}

#dim-game{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	visibility: hidden;
}

#instructions{
	text-align: left;
    background: var(--instructions-bg-color);
	position: absolute;
	left: 50%;
	width: 40em;
    padding: 1em;   
    margin-left: -20em; 
	margin-top: 90px;
	border: solid var(--middle-border-thickness) var(--middle-border-color);
}

#close{
	text-align: center;
	text-decoration: underline;
	color: var(--link-color); 
}

section{
    margin: auto;
    width: 65em;
}

.title-text{
	color: var(--title-text-color);
}

.all-columns{
	color: var(--normal-text-color);
    display: table;
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
}

.column {
	background-color: var(--main-ui-background-color);
	padding: 1em;
    display: table-cell;
    vertical-align: top;
	border-top: solid var(--middle-border-thickness) var(--middle-border-color);
	border-bottom: solid var(--middle-border-thickness) var(--middle-border-color);
}

.left {
	border-left: solid var(--middle-border-thickness) var(--middle-border-color);
    width: 20%;
    padding-top: 0;
	text-align: left;
}

.center {
    text-align: center;
    width: 60%;
}

.right {
	border-right: solid var(--middle-border-thickness) var(--middle-border-color);
    width: 20%;
	padding-top: 0;
	padding-left: 0;
	text-align: left;
}

.title-text{
	font-size: 1.15em;
	padding-bottom: 0;
	margin-bottom: .15em;
	text-decoration: underline overline;
}

button{
	width: 100%;
    padding: 3px 5px;
	background-color: var(--button-bg-color);
	border: 0;
	box-shadow: none;
	border-radius: 0px;
}
	
button:hover {
    background-color: var(--button-hover-color); 
    color: var(--button-hover-text-color);
}

button:disabled,
button[disabled]{
	background-color: var(--disabled-button-bg-color);
	color: var(--normal-text-color);
}

table{
    margin: auto;
    width: 100%;
}

#gather-buttons{
	table-layout: fixed;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

#activity-buttons{
	table-layout: fixed;
}

#settler-buttons{
	table-layout: fixed;
	margin: auto;
    width: 100%;
}

.resource-cost {
	font-size: .75em;
}

.adjustButton{
	width: auto;
	border-radius: 50%;
	padding-left: .5em;
	padding-right: .5em;
}

.minus-button{
	padding-left: .6em;
	padding-right: .6em;
}

@media only screen and (max-width: 60em) {
    .column {
        display: block;
        width: 40em;
    }
}